<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/pico.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap"
        rel="stylesheet">
    <title>{%block title %}Mohamed's Writings{% endblock content %}</title>
</head>

<body>
    <div class="container" style="padding-top: 1rem;">
        {% block content %} {% endblock content %}
    </div>
</body>
<style>
    :root {
        --pico-font-family: "Zain", sans-serif;
    }
</style>

</html>